*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.header{
	height:57px;
	position: fixed;
	top:0;
	width: 100%;
	background-color: #fff;
	z-index: 2;
}
.header>img{
	padding:13px 5px;
	margin-left: 58px;
}
.header>span{
	font:21px "黑体";
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.header ul{
	float: right;
	margin-right: 58px;
}
.header li,.header a{
	display: inline-block;
}
.header>ul span{
	color: #e74f4d;
	font-weight: bold;
	padding-left: 5px;
} 
.header a{
	color: #787b83;
	font:12px "Microsoft YaHei";
	padding:0 10px;
	height:54px;
	border-bottom:3px solid #fff;
	text-align: center;
	line-height: 55px;
}
.header a:hover{
	color: #e74f4d;
	border-color: #e74f4d;
}
.main{
	width:1280px;
	margin:57px auto 0;
}
.picture{
	height:690px;
	background-color: rgba(0,0,0,0.1);
	position: relative;
}
.picture img{
	position: relative;
	z-index: -1;
}
.title{
	font-family: "微软雅黑";
	color: #fff;
	position: absolute;
	margin-left: 120px;
	top:50%;
	transform: translateY(-50%);
}
.title h2{
	font-size: 60px;
}
.title p{
	font-size:21px; 
	width: 300px;
}
.picture button{
	font-size: 30px;
	width:330px;
	height:65px;
	line-height: 65px;
	text-align: center;
	background-color: #e7504d;
	color: #fff;
	border: none;
	margin-top: 60px;
}
.logo{
	height:250px;
	position: relative;
}
.logo>div{
	width:25%;
	height:250px;
	float: left;
	position: relative;
}
.logo p{
	margin-top: 45px;
	height:55px;
	color: #767777;
	font:14px "黑体";
}
.logo1,.logo2,.logo3{
		border-right: 2px solid #767777;
}
.logo span{
	display:inline-block;
	width:156px;
}
.logo>div>div{
	text-align: center;
	position: absolute;
	width:100%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.tip{
	height:360px;
	background-color:#ededec ;	
	position: relative;
}
.center{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.tip p{
	text-align: center;
	width:100%;
}
.tip span{
	display: block;
	margin-top: 50px;
	color:#a1a1a1;
	font:53.59px "黑体";
	line-height: 56.6px;
}
.find{
	height: 340px;
	position: relative;
}

.select>div,.select button{
	height:40px;
	width:237px;
	position: relative;
	font:12px "微软雅黑";
	color:#afb0b0;
	display: inline-block;
	margin:0 15px;
	padding:0;
	vertical-align: top;
	border-style: none;
}
.select>div>img,.find>div{
	position: absolute;
	right:10px;
	top:50%;
	transform: translateY(-50%);
}
.find>div{
	width: 100%;
}
.find p{
	font-family: "微软雅黑";
	color:#fff;
	text-align: center;
}
.find p img{
	margin:10px 0 20px;
}
.font1{
	font-size: 21px;
	display: block;
}
.font2{
	font-size: 12px;
	display: block;
}
.select ul{
	position: absolute;
	width:237px;
	top:40px;
	background-color: #e4e3e5;
	list-style: none;
	list-style-position: inside; 
}
.select li{
	height:25px;
	line-height: 25px;
	padding-left: 30px;
	text-align: left;
	color: #323333;
}
.select li:hover{
	padding-left: 10px;
	color: #fff;
	list-style-image:url(images/tick.png);
	background-color: #bf4f49;
}
.select input{
	font:12px "微软雅黑";	
	color:#afb0b0;
	width:225px;
	padding-left: 12px;
	height:100%;
	border-style: none;
}
.select input::-webkit-input-placeholder{
	font:12px "微软雅黑";	
	color:#afb0b0;
}
.select div:hover,.select ul:hover{
	outline:2px solid #be4e48;
	outline-offset: -1px;
}
.select button{
	padding-left: 30px;	
	background-color: #be4e48;
	font:14px "微软雅黑";
	font-weight: bold;
	color: #fff; 
	letter-spacing:30px;
}
.select{
	height:40px;
	text-align: center;
	margin-top: 55px;
}
.activity{
	height:605px;
	font-family: "微软雅黑";
	position: relative;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
}
.activity>div{
	display: inline-block;
	margin:0 18px;
	text-align: center;
}
.activity img{
	margin-bottom:10px;
	padding:10px;
	border:2px solid #d2d2d2; 
}
.activity h4{
	font-size:16px;
	font-weight: normal;
}
.activity span{
	font-size: 12px;
	color:#b5b5b5;
}
.style h4{
	font-size: 30px;
	letter-spacing: 20px;
	padding-left:20px; 
}
.style span{
	display: block;
	margin-bottom:10px;
}
.know{
	height:567px;
	position: relative;
}
.part1{
	position: relative;
	width:851px;
	font-family:"微软雅黑";
	color: #fff;
	text-align: center;
}
.part1 h2{
	font-size: 50px;
	font-weight: normal;
	line-height: 45px;
}
.part1 h1{
	font-size: 158px;
	line-height: 125px;
	font-weight: normal;
	margin:10px 0 15px 0;
}
.part1 span{
	display: block;
	font-size: 21px;
	line-height: 25px;
	margin:25px;
}
.arrow{
	position: absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
}
.part2{
	width:429px;
	font-family: "微软雅黑";
	text-align: center;
	position: absolute;
	top:50%;
	right:0;
	transform: translateY(-50%);
}
#first{
	background-image: url(images/circle2.png);
}
.part2 img{
	width:12px;
	height:12px;
	background-image: url(images/circle.png);
	background-position:-24px 0;
}
.part2 img:hover{
	background-position:0 0; 
}
.part2 h4{
	font-size: 21px;
	font-weight: normal;
}
.part2 h4>span{
	color:#e74f4d;
}
.part2 p{
	color:#aaaaaa;
	width:285px;
	font-size: 12px;
	line-height: 30px;
	margin:30px auto 50px auto;
	text-align: left;
}
.part2 button{
	width:110px;
	height:35px;
	color:#eea9ab;
	border:1px solid #eea9ab;
	background-color: #fff;
	display: block;
	margin:0 auto 25px auto;
}
.know2{
	height:520px;
}
.left,.middle{
	width:417px;
	height:100%;
	display: inline-block;
	vertical-align: top;
	font:21px "黑体";
	line-height: 30px;
	margin:0 auto;
	position: relative;
}
.left>div,.middle>div{
	text-align: center;
}
.left{
	color:#fff;
	background-color: #e8504e;
}
.left img,.middle img{
	margin:25px;
}
.know2 button{
	width:168px;
	height:45px;
	border:1px solid #e8504e;
	font:21px "黑体";
	background-color: #fff;
	display: block;
	margin:0 auto;
}
.left button{
	background-color: #e8504e;
	border:1px solid #fff;
	color:#fff;
}
.right{
	display: inline-block;
	position: relative;
}
.arrow2{
	position:absolute;
	left: 0;
	top:50%;
	transform: translateY(-50%);
}
.register{
	height:750px;
}
.toptitle{
	height:300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toptitle h3{
	font:21px "黑体";
	line-height: 30px;
}
.toptitle>div{
	text-align: center;
}
.toptitle img{
	margin:10px 0 15px;
}
.toptitle  p{
	font:12px "微软雅黑";
	line-height: 18px;
	color: #c3c3c3;
}
.detail{
display: flex;
justify-content: center;
}
.find_more{
	width:287px;
	padding-top: 7px;
	margin-right: 75px;
}
.information{
	width:640px;
}
.find_more h5{
	font:14px "黑体";
	margin-bottom: 15px;
	color: #231815;
}
.find_more p{
	font:12px "宋体";
	line-height: 21px;
	color: #bcbbba;
	margin-top: 10px;
}
.two{
	margin:35px 0 12px;
}
.find_more a{
	display: block;
	text-align: right;
	color: #bcbbba;
	line-height: 19px;
	font:12px "宋体";
	position: relative;
	right:12px;
}
.information div{
	position: relative;
	display: inline-block;
}
.information input{
	width:310px;
	height:40px;
	background-color: #ededee;
	border-style: none;
	margin:7px 0;
}
.name,.phone{
	margin-right: 12px;
}
.information label{
	position: absolute;
	font:12px "黑体";
	color: #231815;
	left:10px;
	top:50%;
	transform: translateY(-50%);
}
.life{
	width:100%;
}
.life label{
	top:20px;
	transform: none;
}
.life input{
	width:100%;
	height:111px;
}
.information button{
	width:100%;
	height: 40px;
	border-style: none;
	margin-top: 7px;
	background-color:  #ededee;
	font:14px "黑体";
	color: #323333;
}
.contact{
	height:360px;
	outline:1px solid #000;
	position: relative;
	background-color: #32353e;
	color: #fff;
}
.contact div{
	text-align: center;
}
.contact h5{
	font:21px "黑体"; 
	line-height: 48px;
}
.contact p{
	font:12px "宋体";
	line-height: 18px;
	margin-bottom: 30px;
}
.contact input{
	width:420px;
	height:40px;
	border-style: none;
	margin-bottom:38px;
	color:#aaaaaa;
	font:14px "微软雅黑";
	padding-left: 10px;
}
.contact input::-webkit-input-placeholder{
	color:#aaaaaa;
	font:14px "微软雅黑";
}
.contact button{
	width:80px;
	height:40px;
	border-style: none;
	background-color: #6f7278;
	vertical-align: top;
	font:15px "微软雅黑";
	line-height: 22px;
	letter-spacing: 10px;
	padding-left: 10px;
	color: #fff;
}
.contact img{
	margin:0 13px;
}
footer{
	height:25px;
	background-color: #2f2f38;
	color: #fff;
	padding:30px 35px 0;
}
footer span{
	font:12px "宋体";
	display: inline-block;
}
footer a{
	float:right;
	font:12px "宋体";
	color: #fff;
}